<header>
<nav class="navbar navbar-default col-md-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gendis</a>
    </div>
    <ul class="nav navbar-nav">
              <li><a routerLink="/">Home</a></li>
    </ul>
  </div>
</nav>
</header>