@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.panel-body {
    padding: 15px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 20px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}
ul[_ngcontent-c2] {
    padding: 10px 5px 14px 5px;
    list-style-type: none;
    background-color: #fff;
}
.datagrid2{
    width: 100%;
}
@media only screen and (max-width: 900px) {
    section{
        width: 100%;
        padding: 0;
    }
    .result-Left{
        font-size: 10px;
    }
    .result{
        font-size: 10px;
    }
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
