<div class="overAllStatus col-md-12">
    <h1>Service Status</h1>
    <!--    Container to display the overall status of bitbucket-->

    <div class="panel panel-default col-md-12">
        <div class="panel-body">
            <ul *ngIf="statusD; else OfflineD">
                <li>
                    <span class="left col-xs-6 col-md-9">{{ statusD.page.name}}</span>
                    <span class="resultSum [ng-class]={ statusD.status.description == 'All Systems Operational': color-green : , statusD.status.description == 'Partial System Outage': color-red}">
                        {{ statusD.status.description}}</span>
                </li>
            </ul>
            <!--            No connection-->
            <ng-template>
            </ng-template>
            <ng-template #OfflineD>
                <ul>
                    <li>
                        <span class="no-left col-xs-6 col-md-9">Atlassian Bitbucket</span>
                        <span class="no-resultSum col-md-3"><span class="color-red">
                                No Connection</span></span>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
    <!--container to display the 4 required services-->
    <div class="containerWid">
        <div class="panel-group col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Status of services<span class="resultStatus col-xs-3 col-md-2"> Status</span></div>
                <div class="panel-body">
                    <ul *ngIf="statusSum; else OfflineSum">
                        <li class="li-Wrapper">
                            <span class="result-Left col-xs-8 col-ms-8 col-md-10">{{ statusSum.components[0].name}}</span>
                            <span class="result col-md-2 col-xs-3 [ng-class]={ statusSum.components[0].status == 'operational': color-green : , statusSum.components[0].status == 'partial_outage': color-red}">
                                {{ statusSum.components[0].status}}</span>
                        </li>
                        <li class="li-Wrapper">
                            <span class="result-Left col-xs-8 col-ms-8 col-md-10">{{ statusSum.components[1].name}}</span>
                            <span class="result col-md-2 col-xs-3 [ng-class]={ statusSum.components[1].status == 'operational': color-green : , statusSum.components[1].status == 'partial_outage': color-red}">
                                {{ statusSum.components[1].status}}</span>
                        </li>
                        <li class="li-Wrapper">
                            <span class="result-Left col-xs-8 col-ms-8 col-md-10">{{ statusSum.components[3].name}}</span>
                            <span class="result col-md-2 col-xs-3 [ng-class]={ statusSum.components[3].status == 'operational': color-green : , statusSum.components[3].status == 'partial_outage': color-red}">
                                {{ statusSum.components[3].status}}</span>
                        </li>
                        <li class="li-Wrapper">
                            <span class="result-Left col-xs-8 col-ms-8 col-md-10">{{ statusSum.components[10].name}}</span>
                            <span class="result col-md-2 col-xs-3 [ng-class]={ statusSum.components[10].status == 'operational': color-green : , statusSum.components[10].status == 'partial_outage': color-red}">
                                {{ statusSum.components[10].status}}</span>
                        </li>
                    </ul>
                    <!--            No connection-->
                    <ng-template #OfflineSum>
                        <ul>
                            <li class="offLi">
                                <span class="no-result-Left col-xs-8 col-ms-8 col-md-9">Services</span>
                                <span class="no-result col-md-3"><span class="color-red">
                                        No Connection</span></span>
                            </li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <!--        Container to display the current unresolved incidents-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Current incidents</h2>
            </div>
            <div class="panel-body">
                <ul *ngIf="statusUn; else OfflineUn">
                    <li>
                        <span class="unIncidents"> {{ statusUn.incidents.length }}</span><span class="resultStatus col-xs-4 col-md-2"></span>
                    </li>
                </ul>
                <!--            No connection-->
                <ng-template #OfflineUn>
                    <ul>
                        <li>
                            <span class="result-Left"><span class="color-red">
                                    No Connection</span></span>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
        <!--Table to display the 50 most recent incidents-->
        <clr-datagrid *ngIf="status50">
            <clr-dg-column class="table-five col-md-4 col-ms-4 col-xs-4">Name</clr-dg-column>
            <clr-dg-column class="table-five col-md-4 col-ms-4 col-xs-4">Created</clr-dg-column>
            <clr-dg-column class="table-five col-md-4 col-ms-4 col-xs-4">Status</clr-dg-column>

            <clr-dg-row col-md-12 *ngFor="let elements of status50.incidents; let in = index">
                        <clr-dg-cell class="table-body-five col-lg-4 col-md-5 ">{{ status50.incidents[in].name }}</clr-dg-cell>
                <clr-dg-cell class="table-body-five col-lg-4 col-md-4 ">{{ status50.incidents[in].created_at }}</clr-dg-cell>
                <clr-dg-cell class="table-body-five-status col-lg-3 col-md-4 col-xs-4 [ng-class]={ status50.incidents[in].status == 'resolved': color-green : , status50.incidents[in].status == 'monitoring': color-blue, status50.incidents[in].status == 'identified': color-yellow, status50.incidents[in].status == 'investigating': color-purple}">
                    {{ status50.incidents[in].status }}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer></clr-dg-footer>
        </clr-datagrid>
    </div>
</div>