.overAllStatus{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
    padding: 0;
}
h1{

}
h1[_ngcontent-c2] {
    padding-left: 15px;
}
.color-green{
    color: #048204;
}
.color-red{
    color: red;
}
.color-blue{
    color: blue;
    font-size: 12px;
}
.color-purple{
    color: purple;
    font-size: 12px;
}
.color-yellow{
    color: yellow;
    font-size: 12px;
}
.unIncidents{
    font-size: 30px;
    text-align: center;
}
.panel-group {
    width: 100%;
    margin-bottom: 20px;
}
.panel-body{
    padding-bottom: 25px;
}
.result{
    float: right;
    padding-right: 8px;
    font-size: 18px;
}
.no-resultSum{
    float: right;
    text-align: center;
    padding-right: 8px;
}
.no-result{
    text-align: center;
    padding-right: 8px;
    float: right;
    height: 20px;
}
.offLi{
    height: 25px;
}
.OfflineContainer{
    font-size: 30px;
    
}
.li-Wrapper{
    border-bottom: solid 1px #eee;
    height: 26px;
}
.five-name{
    padding-left: 20px;
}
.result-Left{
    float: left;
    font-size: 18px;
}

.no-result-Left{
    float: left;
    font-size: 18px;
}
.resultStatus{
    float: right;
    padding-left: 26px;

}
.resultSum {
    float: right;
    text-align: center;
    padding-right: 8px;
    font-size: 20px;
}
.left{
    font-size: 20px;
    padding-left: 0px;
    margin-left: -4px;
}
ul{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    background-color: #fff;
}
.navbar-header{
    font-size: 40px;
}
.table-five{
    font-size: 30px;
    padding: 16px;
}
.table-body-five{
    font-size: 18px;
    padding: 10px;
    line-height: 1;
}
.table-body-five-status{
    font-size: 18px;
    padding: 10px;
    text-align: center;
    line-height: 1;
}
@media only screen and (min-width: 600px) {
    .tablefive{
        width: 305;
        padding-left: 9px;
    }
    .table-body-five{
        widows: 30%;
    }
    .table-body-five-status{
        width: 30%;
    }
    
}